<div class="bs-component col-md-8 trip-form">
  <%= form_for(@question, html: { class: "form-horizontal" }) do |f| %>

    <div class="form-group">
      <%= f.label :body %><br>

      <div class="col-lg-10">
        <%= f.text_area :body, rows: 12, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
