<%= form_for(@question, html: { class: "form-horizontal" }) do |f| %>



<% if @question.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @question.errors.full_messages.each do |error_message| %>
        <li><%= error_message if @question.errors.full_messages.first == error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="form-inputs clearfix">
  <p>
    <label class="required">Pergunta<span>*</span></label>
    <!-- <input type="text" id="question-title"> -->
    <%= f.text_area :title, rows: 1, id: "question-title" %>

    <span class="form-description">Escolha um título apropriado para sua pergunta, de modo que facilite as repostas.</span>

    <label>Tags</label>
    <input type="text" class="input" name="question_tags" id="question_tags" data-seperator=",">
    <span class="form-description">Escolha as palavras-chave da sua pergunta Ex : <span class="color">#FísicaElétrica</span> .</span>

    <label>Professores</label>
    <input type="text" class="input" name="teacher_tags" id="question_tags" data-seperator=",">
    <span class="form-description">Selecione os professores para esta pergunta Ex : <span class="color"> josesilva@email.com, mariacavalcanti@email.com</span> .</span>
  </p>
  <p>
    <label class="required">Matéria<span>*</span></label>
    <span class="styled-select">
      <select name="question[discipline]">
        <option value="Geral">Selecione a categoria</option>
        <option value="Português">Português</option>
        <option value="Matemática">Matemática</option>
        <option value="Física">Física</option>
        <option value="Química">Química</option>
        <option value="História">História</option>
        <option value="Geografia">Geografia</option>
        <option value="Biologia">Biologia</option>
      </select>
    </span>
    <span class="form-description">Selecione a seção correta da sua pergunta para que possa ser facilmente encontrada.</span>
  </p>

  <div class="clearfix"></div>

  <!--<label>Anexo</label>
  <br>
  <br>
  <div class="fileinputs">
    <input type="file" class="file">
    <div class="fakefile">
      <button type="button" class="button small margin_0">Selecione o arquivo</button>
      <span><i class="icon-arrow-up"></i>Browse</span>
    </div>
  </div>-->


  <p>
    <label id="infoad"> Informações adicionais</label>
    <%= f.text_area :body, rows: 7, id: "question-body" %>
    <span class="form-description" style="margin-left: 1px">Explique melhor sua dúvida</span>
  </p>

</div>

<p class="form-submit">
  <input type="submit" id="publish-question" value="Publique sua pergunta" class="button color small submit">
</p>
<% end %>
