<div data-ng-show="isSelected(2)" class="tab-inner" id="most_viewed_section" >

  <% questions.each do |question| %>
    <article class="question question-type-normal">
    	<h2>
        <%= link_to truncate(question.title, length: 150), question %>
    	</h2>
    	<!--<a class="question-report" href="#">Denunciar</a>-->
      <%= render "users/minicard" , question: question %>
      <div class="question-inner">
        <%= render "questions/analytics_section" , question: question %>
    	</div>
    </article>
  <% end %>
  <%= paginate questions%>
</div>
