<div class="col-md-8" id="most_viewed">
  <% questions.each do |question| %>
    <section class="question">
      <h3>
        <%= link_to question do %>
          <span class="label label-info"><%= time_ago_in_words question.created_at %></span>
        <% end %>
      </h3>
      <p>
        <%= question.body %></h3>
      </p>
    </section>
  <% end %>
</div>
