<div data-ng-show="isSelected(3)" class="tab-inner" id="popular_section" >

  <% questions.each do |question| %>
    <article class="question question-type-normal">
    	<h2>
        <%= link_to truncate(question.title, length: 30), question %>
    	</h2>
    	<!--<a class="question-report" href="#">Denunciar</a>-->
      <%= render "users/minicard" , question: question %>
      <div class="question-inner">
        <%= render "analytics_section", question: question %>
    	</div>
    </article>
  <% end %>
  <%= paginate questions,:remote => true%>
</div>
