<section class="container main-content" data-ng-controller="QuestionsController">
  <div class="row" style="margin-top: 26px">
    <div class="col-md-9">
      <div class="tabs-warp question-tab">
        <div class="tab-inner-warp" style="display: block;">
          <%= render "last_published_section", questions: @results %>
        </div>
      </div>
    </div>
  </div>
</section>
