<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Perfil</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<a href="#">Professor</a>
						<span class="crumbs-span">/</span>
						<span class="current">Renê Leite</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->

	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="user-profile">
						<div class="col-md-12">
							<div class="page-content">

								<h2> Renê Leite ( rleite )</h2>
								<div class="user-profile-img" style="margin-bottom:20px;"><img width="90" height="130" src="images/rene.jpg" alt="admin"></div>
								<div class="ul_list ul_list-icon-ok about-user">
									<ul>
										<li><i class="icon-user"></i>Classificação: <span>Mestre</span></li>
										<li><i class="icon-map-marker"></i>De: <span>Recife, Pernambuco</span></li>
										<li><i class="icon-book"></i>Leciona em: <span>Colégio Motivo, FOCO Matérias Isoladas</span></li>
										<li><i class="icon-search"></i>Disciplinas: <span>Matemática e Geometria</span></li>
									</ul>
								</div>
								<p>Formado em Engenharia da Computação, amo música e ensinar.</p>
								<div class="clearfix"></div>
								<span class="user-follow-me">Contato: </span>
								<a href="#" original-title="Facebook" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239">
											<i class="social_icon-facebook"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Twitter" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#00baf0" span_hover="#2f3239">
											<i class="social_icon-twitter"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Linkedin" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#006599" span_hover="#2f3239">
											<i class="social_icon-linkedin"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Google plus" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239">
											<i class="social_icon-gplus"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Email" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239">
											<i class="social_icon-email"></i>
										</span>
									</span>
								</a>
							</div><!-- End page-content -->
						</div><!-- End col-md-12 -->
						<div class="col-md-12">
							<div class="page-content page-content-user-profile">
								<div class="user-profile-widget">
									<h2>Status do usuário</h2>
									<div class="ul_list ul_list-icon-ok">
										<ul>
											<li><i class="icon-question-sign"></i><a href="user_questions.html">Likes em respostas<span>: <span>763</span> </span></a></li>
											<li><i class="icon-comment"></i><a href="user_answers.html">Respostas<span>: <span>351</span> </span></a></li>

											<li><i class="icon-heart"></i><a href="user_points.html">Ranking: <span> <span>5º</span> </span></a></li>
											<li><i class="icon-asterisk"></i>Melhores respostas: <span> <span>65</span> </span></li>
										</ul>
									</div>
								</div><!-- End user-profile-widget -->
							</div><!-- End page-content -->
						</div><!-- End col-md-12 -->
					</div><!-- End user-profile -->
				</div><!-- End row -->
				<div class="clearfix"></div>


				<div id="atividadesRecentes" class="page-content page-content-user">
					<style>
						#resposta {
							font-size: 17px;
						}
					</style>
					<div class="user-questions">
						<article class="question user-question">
							<h3 style="margin-bottom: 0px; text-align: center;">
								<a  style="font-weight: bold;" href="#">Atividades recentes</a>
							</h3>

						</article>
						<article class="question user-question">
							<h3>
								<a id="resposta" href="single_question.html">Como se acha a área do triângulo inscrito?</a>
							</h3>
							<div class="question-type-main"><i class="icon-question-sign"></i>Resposta</div>
							<div class="question-content">
								<div class="question-bottom">
									<div class="question-answered"><i class="icon-ok"></i>Em progresso</div>
									<span class="question-favorite"><i class="icon-star-empty"></i>2</span>

									<span class="question-date"><i class="icon-time"></i>1 hora atrás</span>
									<span class="question-comment"><a href="#"><i class="icon-comment"></i>5 respostas</a></span>
									<span class="question-view"><i class="icon-user"></i>26 visualizações</span>
								</div>
							</div>
						</article>
						<article class="question user-question">
							<h3>
								<a id="resposta" href="single_question.html">...Eu acho que não é possível aplicar esta fórmula... </a>
							</h3>
							<div class="question-type-main"><i class="icon-info-sign"></i>Resposta</div>
							<div class="question-content">
								<div class="question-bottom">
									<span class="question-favorite"><i class="icon-star-empty"></i>0</span>

									<span class="question-date"><i class="icon-time"></i>2 hora atrás</span>
									<span class="question-comment"><a href="#"><i class="icon-comment"></i>2 respostas</a></span>
								</div>
							</div>
						</article>
						<article class="question user-question">
							<h3>
								<a id="resposta" href="single_question.html">Como se deduz a fórmula atração de dois corpos estáticos?</a>
							</h3>
							<div class="question-type-main"><i class="icon-question-sign"></i>Resposta</div>
							<div class="question-content">
								<div class="question-bottom">
									<div class="question-answered question-answered-done"><i class="icon-ok"></i>Resolvida</div>
									<span class="question-favorite"><i class="icon-star-empty"></i>2</span>

									<span class="question-date"><i class="icon-time"></i>2 dias atrás</span>
									<span class="question-comment"><a href="#"><i class="icon-comment"></i>5 respostas</a></span>
									<span class="question-view"><i class="icon-user"></i>26 visualizações</span>
								</div>
							</div>
						</article>


					</div>
				</div>

			</div><!-- End main -->
			<aside class="col-md-3 sidebar">
				<div class="widget widget_stats">
					<h3 class="widget_title">Mais sobre Renê</h3>
					<div class="ul_list ul_list-icon-ok">
						<ul>
							<li>
								<a href="#"><i class="icon-question-sign"></i>Melhores respostas ( <span>65</span> )</a></li>
							<li><a href="#"><i class="icon-comment"></i>Respostas ( <span>351</span> )</a></li>
						</ul>
					</div>
				</div>

				<div class="widget widget_tag_cloud">
					<h3 class="widget_title">Renê em tags</h3>
					<a href="#">Física</a>
					<a href="#">Matemática</a>
					<a href="#">Geometria</a>
					<a href="#">Exatas</a>
					<a href="#">Química</a>
				</div>


			</aside><!-- End sidebar -->
		</div><!-- End row -->
	</section><!-- End container -->

		<footer id="footer">
		<section class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="widget widget_contact">
						<h3 class="widget_title">Sobre o Vestibuleiro</h3>
						<p>Somos a maneira mais rápida de encontrar a resposta para sua dúvida.</p>
						<ul>
							<!-- <li>
								<span>Address :</span>
								Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
							</li> -->
							<li>
								<span>Algum problema?</span>
								Envie um email para contato@vestibuleiro.com
							</li>

						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget_title">Links</h3>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="ask_question.html">Sobre o Vestibuleiro</a></li>
							<li><a href="#">Faça sua pergunta</a></li>
							<li><a href="cat_question.html">Para professores</a></li>
							<li><a href="user_profile.html">Para alunos</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget">
						<h3 class="widget_title">Dúvidas mais populares</h3>
						<ul class="related-posts">
							<li class="related-item">
								<h3><a href="#">Calcular probabilidade de alelos</a></h3>
								<div class="clear"></div><span>Biologia - 10 minutos atrás</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Dúvida sobre relevo brasileiro</a></h3>
								<div class="clear"></div><span>Geogrfia - 1 hora atrás</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Fórmula da área do triângulo</a></h3>
								<div class="clear"></div><span>Matemática - 1 dia atrás</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget">
						<h3 class="widget_title">Professores mais ativos</h3>
						<ul class="related-posts">
							<li class="related-item">
								<h3><a href="#">Marcelo Menezes</a></h3>
								<div class="clear"></div><span>Matemática - 93 respostas</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Fernando Beltrão</a></h3>
								<div class="clear"></div><span>Biologia - 75 respostas</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Carlos Japa</a></h3>
								<div class="clear"></div><span>Física - 67 respostas</span>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->