<div class="breadcrumbs">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Configurações</h1>
      </div>
      <div class="col-md-12">
        <div class="crumbs">
          <a href="#">Home</a>
          <span class="crumbs-span">/</span>
          <a href="#">Usuário</a>
          <span class="crumbs-span">/</span>
          <span class="current">Configurações</span>
        </div>
      </div>
    </div><!-- End row -->
  </section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
  <div class="row" style="margin-top: 26px">

    <% if @user.role == 'student' %>
    <%= render "config_student", user: @user %>
    <% else %>
    <%= render "config_teacher", user: @user %>
    <% end %>
  </div>
</div>
