<script type="text/javascript" src="/assets/controllers/questionsController.js"></script>
<div class="section-warp ask-me">
	<div class="container clearfix">
		<div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
			<div class="row">
				<div class="col-md-12" style="padding-top: 0px">
					<h2 id="home-title">Hall da fama</h2>
					<p id="home-caller">Estes são os alunos e professores que  mais respondem dúvidas no Vestibuleiro.</p>
					<div class="clearfix"></div>
				</div>
			</div><!-- End row -->
		</div><!-- End box_icon -->
	</div><!-- End container -->
</div><!-- End section-warp -->
<section class="container main-content" data-ng-controller="QuestionsController">
  	<div class="row" style="margin-top: 26px">
    	<div class="col-md-12">
     		<div class="tabs-warp question-tab">
	            <ul class="tabs">
	                
					<li class="tab" data-ng-class="{active: isSelected(1) }"><a data-ng-click="selectTab(1)" href="">Professores</a></li>
					<li class="tab" data-ng-class="{active: isSelected(2) }"><a data-ng-click="selectTab(2)" href="">Alunos</a></li>
	            </ul>

	            <div class="tab-inner-warp" style="display: block;">
		      		<%= render "teacher_ranking", users: @teachers %>
      				<%= render "student_ranking", users: @students  %>  
		      	</div>
			</div>
		</div><!-- End main -->
	</div><!-- End row -->
</section><!-- End container -->
