<footer id="footer">
		<!-- <section class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="widget widget_contact">
						<h3 class="widget_title">Sobre o Vestibuleiro</h3>
						<p>Somos a maneira mais rápida de encontrar a resposta para sua dúvida.</p>
						<ul>
							 <li>
								<span>Address :</span>
								Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
							</li> -->
						<!--	<li>
								<span>Algum problema?</span>
								Envie um email para contato@vestibuleiro.com
							</li>

						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget_title">Links</h3>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="ask_question.html">Sobre o Vestibuleiro</a></li>
							<li><a href="#">Faça sua pergunta</a></li>
							<li><a href="cat_question.html">Para professores</a></li>
							<li><a href="user_profile.html">Para alunos</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget">
						<h3 class="widget_title">Dúvidas mais populares</h3>
						<ul class="related-posts">
							<li class="related-item">
								<h3><a href="#">Calcular probabilidade de alelos</a></h3>
								<div class="clear"></div><span>Biologia - 10 minutos atrás</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Dúvida sobre relevo brasileiro</a></h3>
								<div class="clear"></div><span>Geogrfia - 1 hora atrás</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Fórmula da área do triângulo</a></h3>
								<div class="clear"></div><span>Matemática - 1 dia atrás</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget">
						<h3 class="widget_title">Professores mais ativos</h3>
						<ul class="related-posts">
							<li class="related-item">
								<h3><a href="#">Marcelo Menezes</a></h3>
								<div class="clear"></div><span>Matemática - 93 respostas</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Fernando Beltrão</a></h3>
								<div class="clear"></div><span>Biologia - 75 respostas</span>
							</li>
							<li class="related-item">
								<h3><a href="#">Carlos Japa</a></h3>
								<div class="clear"></div><span>Física - 67 respostas</span>
							</li>
						</ul>
					</div>
				</div>
			</div> End row -->
	<!--	</section> --> <!-- End container -->
	</footer>
