<header id="header">
	<section class="container clearfix">
		<div class="logo"><a href="index.html"><img alt="" src=""></a></div>
		<nav class="navigation">
			<ul>
				<li class="parent-list">
					<%= link_to do %>
						<%= t("app_name") %> <span class="menu-nav-arrow"> <i class="icon-angle-down"></i></span>
					<% end %>

					<ul style="display: none;">
						<li><%= link_to t("app_name"), root_path, class: "navbar-brand" %></li>
						<li class="current_page_item"><a href="index_2.html">Home 2</a></li>
						<li><a href="index_boxed_1.html">Home Boxed 1</a></li>
						<li><a href="index_boxed_2.html">Home Boxed 2</a></li>
						<li><a href="index_no_box.html">Home No Box</a></li>
					</ul>
				</li>
				<li class="current_page_item">
					<%= link_to "Tira sua dúvida", new_question_path %></li>
				<li><a href="cat_question.html">Registre-se</a></li>
				<li><a href="cat_question.html">Entrar</a></li>
			</ul>
		</nav>
	</section><!-- End container -->
</header>
