<header id="header">
		<section class="container clearfix">
			<div class="logo"><a href="index.html"><img alt="" src=""></a></div>
			<nav class="navigation">
				<ul>
					<li class="parent-list"><a href="index.html">Home <span class="menu-nav-arrow"><i class="icon-angle-down"></i></span></a>
						<ul style="display: none;">
							<li><a href="index.html">Home</a></li>
							<li class="current_page_item"><a href="index_2.html">Home 2</a></li>
							<li><a href="index_boxed_1.html">Home Boxed 1</a></li>
							<li><a href="index_boxed_2.html">Home Boxed 2</a></li>
							<li><a href="index_no_box.html">Home No Box</a></li>
						</ul>
					</li>
					<li class="current_page_item"><a href="ask_question.html">Tire sua dúvida</a></li>
					<li><a href="cat_question.html">Registre-se</a></li>
					<li><a href="cat_question.html">Entrar</a></li>
					<!-- <li><a href="user_profile.html">User</a>
						<ul>
							<li><a href="user_profile.html">User Profile</a></li>
							<li><a href="user_questions.html">User Questions</a></li>
							<li><a href="user_answers.html">User Answers</a></li>
							<li><a href="user_favorite_questions.html">User Favorite Questions</a></li>
							<li><a href="user_points.html">User Points</a></li>
							<li><a href="edit_profile.html">Edit Profile</a></li>
						</ul>
					</li>
					<li><a href="blog_1.html">Blog</a>
						<ul>
							<li><a href="blog_1.html">Blog 1</a>
								<ul>
									<li><a href="blog_1.html">Right sidebar</a></li>
									<li><a href="blog_1_l_sidebar.html">Left sidebar</a></li>
									<li><a href="blog_1_full_width.html">Full Width</a></li>
								</ul>
							</li>
							<li><a href="blog_2.html">Blog 2</a>
								<ul>
									<li><a href="blog_2.html">Right sidebar</a></li>
									<li><a href="blog_2_l_sidebar.html">Left sidebar</a></li>
									<li><a href="blog_2_full_width.html">Full Width</a></li>
								</ul>
							</li>
							<li><a href="single_post.html">Post Single</a>
								<ul>
									<li><a href="single_post.html">Right sidebar</a></li>
									<li><a href="single_post_l_sidebar.html">Left sidebar</a></li>
									<li><a href="single_post_full_width.html">Full Width</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="right_sidebar.html">Pages</a>
						<ul>
							<li><a href="login.html">Login</a></li>
							<li><a href="contact_us.html">Contact Us</a></li>
							<li><a href="ask_question.html">Ask Question</a></li>
							<li><a href="right_sidebar.html">Right Sidebar</a></li>
							<li><a href="left_sidebar.html">Left Sidebar</a></li>
							<li><a href="full_width.html">Full Width</a></li>
							<li><a href="404.html">404</a></li>
						</ul>
					</li>
					<li><a href="shortcodes.html">Shortcodes</a></li>
					<li><a href="contact_us.html">Contact Us</a></li> -->
				</ul>
			</nav>
		</section><!-- End container -->
	</header>
