<div class="well" style="width:262.5px; height:239px;">
  <h4 class="lead">Assuntos favoritos</h4>

  <% @question.tags.each do |tag|%>
  	<span class="label label-warning"> <%= tag.tag_name %> </span> </br>
  <% end %>

</div>
