<div class="well" style="width:262.5px; height:239px;">

  <div class="widget widget_tag_cloud">
					<h3 class="widget_title">Tags</h3>
					<a href="#">Física</a>
					<a href="#">MRU</a>
					<a href="#">Mecânica Geral</a>
					<a href="#">Gráficos</a>
					<a href="#">Movimento Retilíneo Uniforme</a>
				</div>


  <% @question.tags.each do |tag|%>
  	<span class="label label-warning"> <%= tag.tag_name %> </span> </br>
  <% end %>

</div>
