<ul class="tabs">
  <li class="tab" data-ng-class="{active: isSelected(1) }"><a data-ng-click="selectTab(1)" href="">Questões Recentes</a></li>
  <li class="tab" data-ng-class="{active: isSelected(2) }"><a data-ng-click="selectTab(2)" href="">Mais Vizualizadas</a></li>
  <li class="tab" data-ng-class="{active: isSelected(3) }"><a data-ng-click="selectTab(3)" href="">Mais Votadas</a></li>
</ul>
