<ul>
  <li>Rafael Gouveia</li>
  <li>Tiago Nogueira</li>
  <li>Rodrigo Alves</li>
  <li>Tomer Simis</li>
  <li>Guilherme Tavares</li>
  <li>Samuel Paz</li>
  <li>Marlon Reghert</li>
  <li>Artur Montenegro</li>
  <li>Rodolfo José</li>
  <li>Bruno Dutra</li>
  <li>Hugo Freire</li>
  <li>Ângelo de Sant'Ana</li>
  <li>Danilo Dias</li>
</ul>
